body {
  background-color: black;
}

#wrapper {
  width: 60vw;
  height: auto;
  border: 1px solid black;
  text-align: center;
  background-color: black;
  color: white;
  margin-inline: auto;
  margin-top: 20%;
  padding-top: 9vh;
  border-radius: 10%;
  box-shadow: 5px 5px 5px 5px red;
}

button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  height: 20px;
  width: 70px;
  margin-bottom: 20px;
}
